echo target/ > .gitignore
echo build/ >> .gitignore
echo .idea/ >> .gitignore
echo .vscode/ >> .gitignore
echo *.iml >> .gitignore
echo *.log >> .gitignore
echo src/main/resources/application-*.yml >> .gitignore
echo src/main/resources/application-*.properties >> .gitignore
